/* Add Tailwind's base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define transition durations */
:root {
  --transition-duration: 0.3s; /* Duration for smooth transition */
  --light-bg: #ffffff;
  --light-text: #000000;
  --dark-bg: #1e2139;
  --dark-text: #ffffff;
}

/* Apply transition to html and body for smoother background changes */
html {
  transition: background-color var(--transition-duration) ease,
    color var(--transition-duration) ease;
}

/* Set default body styles */
body {
  font-family: "League Spartan", sans-serif;
  background-color: var(--light-bg);
  color: var(--light-text);
}

/* Dark mode styles */
body.dark {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}
